.input-number--box {
  display: flex;
  align-items: flex-end;

  flex-direction: row;
  gap: 2.4rem;
}

.input-number--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.input-number--container label {
  font-size: 1.4rem;
  color: #5e6e85;
}

.input-number {
  width: 100%;
  height: 7rem;

  border: none;
  /* border: 1px solid #d8e2e7; */

  font-size: 2.4rem;
  font-weight: 600;
}

.input-number::placeholder {
  color: #253347;
  opacity: 0.25;
}
.input-number:active,
.input-number:focus {
  outline: none;
}

/* REMOVE ARROW FROM INPUT */
.input-number--inside input::-webkit-outer-spin-button,
.input-number--inside input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number--inside {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border: 1px solid #d8e2e7;
  border-radius: 12px;
  padding: 0 2.4rem;

  cursor: pointer;
}

.input-number_imperial {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-number--inside:hover,
.input-number--inside:focus-within {
  border: 1px solid #345ff6;
}

.input-number--heading {
  font-size: 2.4rem;
  font-weight: 600;
  color: #345ff6;
}
