* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Inter", "sans-serif";
  caret-color: transparent;
}

/* 1400px */
@media only screen and (min-width: 87.5em) {
  html {
    font-size: 68.75%;
  }
}

/* 1100px */
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 56.25%;
  }
}
